# 데이터 파일
Data/Images/
Data/Video/
Data/videos/
# Data/output/logs/
Data/output/crops/
Data/output/videos/
Data/output/video/
Data/Real/
Data/output/gridcam_frames/
Data/output/bbox_crops/
Data/output/image/

# Model 가중치 파일
Model/checkpoints/
Model/src/trackers/
Model/yolo/__pycache__/

# 가상화면
env/

#config
config.py

# pycache
__pycache__/
Model/src/__pycache__/