# 데이터 파일
Data/videos/

# Data/output
Data/output/crops/
Data/output/videos/

# Model 가중치 파일
Model/checkpoints/
Model/src/trackers/

# 가상화면
env/

#config
config.py

# pycache
__pycache__/
Model/src/__pycache__/
Model/yolo/__pycache__/
